
@{
    ViewBag.Title = "Images";

    string[] fileNames;

    fileNames = Directory.GetFiles(@"~\UploadedImages\");
}

<h2>Images</h2>
<p>
    @Html.ActionLink("Create New", "Index")
    @fileNames.Length
</p>
<table class="table">
    <tr>
        <th>
            Image Name
        </th>
        <th>
            Tiny URL Link
        </th>
        <th>
            Delete
        </th>
    </tr>


    
    {
        <tr>
            <td>

            </td>
            <td>

            </td>
        </tr>
    }

</table>
