@{  
    WebImage photo = null;
    string newFileName = "";
    string imagePath = "";

    if(IsPost){
        photo = WebImage.GetImageFromRequest();
        if(photo != null)
        {
            ValidateFile(photo, out var pathToImage);
        }
    }

    void ValidateFile(WebImage file, out string path)
    {
        try
        {
            string fileExtension = file.FileName.Split('.')[1];
            List<string> validExtensions = new List<string>
            {
                "heic",
                "heif",
                "webp",
                "png",
                "jpeg",
                "svg",
                "pdf",
                "jpg",
                "gif"
            };

            string validationStatus;

            path = "Not Valid";

            if (!validExtensions.Contains(fileExtension.ToLower()))
            {
                validationStatus = $"Valid file types are HEIC/HEIF, WEBP, PNG, JPEG, SVG, PDF, JPG & GIF\n" +
                                   $"File uploaded had type {fileExtension}";
            }
            else
            {
                if (file.GetBytes().Length > 10000000)
                {
                    validationStatus = "Upload size limited to 10MB";
                }
                else
                {
                    validationStatus = "File uploaded successful";
                    newFileName = Guid.NewGuid().ToString() + "_" +
                                  Path.GetFileName(photo.FileName);
                    imagePath = @"UploadedImages\" + newFileName;

                    photo.Save(@"~\" + imagePath);

                    path = imagePath;
                }
            }

            ViewBag.ValidationStatus = validationStatus;
        }
        catch (Exception exceptionType)
        {
            path = "";
            ViewBag.ValidationStatus = $"File Couldn't be processed with exception: {exceptionType.Message}";
        }

    }

    string CreateTinyUrl(string url)
    {
        try
        {
            var request = WebRequest.Create("http://tinyurl.com/api-create.php?url=" + "smgtinyurltest.azurewebsites.net/" + url);
            var response = request.GetResponse();

            string tinyUrl;

            using (var reader = new StreamReader(response.GetResponseStream()))
            {
                tinyUrl = reader.ReadToEnd();
            }

            return tinyUrl;
        }
        catch (Exception exception)
        {

            return exception.Message;
        }
    }
}


<div class="page-header">
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend> Upload Image </legend>
            <label for="Image">Image</label>
            <input type="file" name="Image" />
            <br/>
            <input type="submit" value="Upload" />
        </fieldset>
    </form>
    <h1>Uploaded Image</h1>
    @if(imagePath != ""){
        <div class="result">
            <p>Tiny URL: @CreateTinyUrl(imagePath)</p>
            <img src="@imagePath" alt="image"/>

        </div>
    }
</div>
