@model TinyURL.Web.Models.ImageViewModel
@{
    // I had to place my logic in this file as I couldn't get the database to connect

    ViewBag.Title = "Upload Image";

    WebImage photo = null;

    bool fileExists = false;

    string pathToImage = "";
    string validationMessage = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {
            Model.ValidateFile(photo, out pathToImage, out fileExists, out validationMessage);
        }
    }
}

@{
    // Gathered from https://docs.microsoft.com/en-us/aspnet/web-pages/overview/ui-layouts-and-themes/9-working-with-images
    // Added the tiny url to this location.
}
<div class="page-header">
    <p>
        @Html.ActionLink("List", "List", "Home")
    </p>
    <form action="" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend> Upload Image </legend>
            <label for="Image">Image</label>
            <input type="file" name="Image" />
            <br />
            <input type="submit" value="Upload" />
            <br/>
            <p>@ViewBag.ValidationStatus</p>
        </fieldset>
    </form>
    <h1>Uploaded Image</h1>
    @if (pathToImage != "" && !fileExists)
    {
        <div class="result">
            <p>Tiny URL: @Model.CreateTinyUrl(pathToImage)</p>
            <img src="@pathToImage" alt="image" />

        </div>
    }
</div>
